@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --background:#141C2F;
    --divback:#1F2A48;
    --button:#0583F2;
    --text:#c4c2c2;
    --sub-font:#0571ff;


}



#root{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    border-radius: 1rem;
    margin: 5rem;
    background-color:var(--background);
    
}



.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.search-bar{
    font-size: 20px;
    background-color: var(--divback);
    display: inline-flex;
    border-radius: 0.8rem;
}

.search-bar input{
    background-color:var(--divback);
    color:var(--text);
    border: none;
    margin: 1rem;
    padding: 0.1rem;
    outline: none;
}

.search-bar label svg{
    color:var(--button);
    margin: 1rem;
    padding: 0.1rem;
}

.search-bar button{
    background-color: var(--button);
    margin: 1rem;
}

.result-container{
    background-color: var(--divback);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}



.box{
    display: inline-flex;
 
}

.box .img-div{
    background-color: gainsboro;
    border-radius: 4rem;
    padding: 0.1rem;
    margin: 1rem;
    background-color: var(--divback);

}

.box .img-div img{
    width: 128px;
    height: 128px;
    border-radius: 4rem;
}

.box h1{
    color:var(--text);
    font-family: 'Amiko', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.box h2{
    color:var(--sub-font);
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.box h3{
    color:var(--text);
    font-family: 'Amiko', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-top: 1rem;
    display:flex;
    flex-wrap: wrap;
}

.box .profile-info{
    padding: 0.1rem;
    padding-top: 1rem;
    margin-left: 1rem;

}

.follow-data{
    background-color: var(--background);
    color: var(--text);
    display: flex;
    margin-left: 5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.follow-data span{
    padding: 1rem;

}

.follow-data span h4{
    font-size: 20px;
    font-weight: 500;

}

.follow-data span h5{
    font-size: 15px;
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
}

.basic-details{
  display: flex;
  padding: 3rem;
  margin: 0.1rem;
  padding-top: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  
}


.basic-details span{
    padding: 0.1rem;
    margin: 0.2rem;
    display:inline-flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 1rem;
}

.basic-details span label{
    color:var(--text);

}

.basic-details h3 {

    margin-left: 0.2rem;
}

.basic-details h3 a:link{
    text-decoration: none;
    padding: 0.1rem;
    color: var(--text);
    font-size: 11px;
}

a:active{
    text-decoration: none;
    color: var(--text);
}


a:visited{
    text-decoration: none;
    color: var(--text);
}

::placeholder{
    font-family: 'Amiko', sans-serif;
    font-weight: 500;
}

.loading-container{
    background-color:var(--divback);
    color: var(--text);
    padding: 1rem;
    margin-top:1.5rem;
    border-radius: 1rem;
}

.loading-container img{
    width: 475px;
    border: 1rem thin black;
    border-radius: 1rem;
}



